<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

  <connectionStrings>
    <add name="ds" connectionString="workstation id=nanbarkal420.mssql.somee.com;packet size=4096;user id=nanbarkal420_SQLLogin_1;pwd=9tb8z6zoio;data source=nanbarkal420.mssql.somee.com;persist security info=False;initial catalog=nanbarkal420"/>
  </connectionStrings>

</configuration>
